<h2>Welcome back {{ user.email }}</h2>

<div>
  <ul>
    <li ng-repeat="article in articles | orderBy:publishedDate:false"> 
      <div class="article-listing">
        <div class="large-11 small-11 columns"> 
          <h3>
            <a
              href="{{ article.link }}" 
              title="{{ article.title }}"> 
              {{ article.title }}
            </a>
          </h3>
          <p>
            {{ article.publishedDate | date:'M/d/yy h:mm:ss a' }}
          </p> 
        </div>
        <divclass="small-1large-1columns"> 
          <div data-ng-hide="showShareBox">
            <a ng-click="showShareBox=!showShareBox">Share with a friend</a> 
          </div>
          <div data-ng-show="showShareBox"> 
            <form name="shareForm">
              <label>Share with a friend</label> 
              <input type="text" placeholder="email or username" data-ng-model="newShare.recipient" /> 
              <input type="button" class="btn" value="Cancel" data-ng-click="showShareBox = !showShareBox" />
              <input type="submit" class="btn" ng-click="showShareBox=!showShareBox;share(newShare.recipient, article)" ng-disabled="shareForm.$invalid" value="Share">
            </form>
          </div> <!-- showShareBox -->
        </div><!--commentbox-->
      </div>
    </li> 
  </ul>
</div>
